//- date.jade

.day
  header
    h3
      span.day= weekdayFull()
      span.month= monthName()
      span.date= formatted()

  .content
    #prev.prev
      if prev
        a.h1(href=prev.link()) «

    .shows
      ul#shows.shows
        each show in shows
          li.show
            .meta
              h6.h5
                a(href=show.source)
                  if show.timeIsCertain()
                    span.time= show.time()
                  else
                    span.unknown UNK

                  span.subhead.venue= show.venue.name
                  span.price.is.right= show.price
            .artists
              ul.artists.list-unstlyed
                each gig in show.gigs
                  if gig.artist
                    li!= gig.artist.formattedName()

    #next.next
      if next
        a.h1(href=next.link()) »
