doctype html
//if lt IE 7
  html.no-js.lt-ie10.lt-ie9.lt-ie8.lt-ie7(lang='en-us')
//if IE 7
  html.no-js.lt-ie10.lt-ie9.lt-ie8(lang='en-us')
//if IE 8
  html.no-js.lt-ie10.lt-ie9(lang='en-us')
//if IE 9
  html.no-js.lt-ie10.lt-ie9(lang='en-us')
//if lt IE 10
  html.no-js.lt-ie10(lang='en-us')
//if !IE
  | &gt;
html.no-js(lang='en')
  // <![endif]
  head
    title Denton&comma; TX Show list &VerticalLine; BBTTXU
    meta(charset='utf-8', content='text/html', http-equiv='content-type')
    meta(content='ie=edge,chrome=1', http-equiv='x-ua-compatible')
    meta(content='Upcoming music and events for Denton, TX aggregated from publicly available sources ', name='description')
    meta(content='Adam Krawiec', name='author')
    meta(content='initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width', name='viewport')
    meta(content='initial-scale=1.0,user-scalable=no,maximum-scale=1', media='(device-height: 568px)', name='viewport')
    meta(content='yes', name='apple-mobile-web-app-capable')
    meta(content='translucent-black', name='apple-mobile-web-app-status-bar-style')
    link(href='http://fonts.googleapis.com/css?family=Anton|Cherry+Cream+Soda', rel='stylesheet', type='text/css')
    link(href='/images/favicon.ico', rel='shortcut icon')
    link(href='/images/apple-touch-icon-precomposed.png', rel='apple-touch-icon-precomposed')
    link(href='/images/apple-touch-icon-57x57-precomposed.png', rel='apple-touch-icon-precomposed', sizes='57x57')
    link(href='/images/apple-touch-icon-72x72-precomposed.png', rel='apple-touch-icon-precomposed', sizes='72x72')
    link(href='/images/apple-touch-icon-114x114-precomposed.png', rel='apple-touch-icon-precomposed', sizes='114x114')

    link(href='stylesheets/denton.css' + cachebust, media='screen', rel='stylesheet', type='text/css')
    if build
      script.
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-46188129-1']);
        _gaq.push(['_trackPageview']);
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

        window.onerror = function(message, file, line) {
          _gaq.push(['_trackEvent', 'JS Error', file + ':' + line + '\n\n' + message]);
        };

    //- FIXME make build-only
    script.
      (function(e,t){var r=e.amplitude||{};var n=t.createElement("script");n.type="text/javascript";
      n.async=true;n.src="https://d24n15hnbwhuhn.cloudfront.net/libs/amplitude-2.2.0-min.gz.js";
      var s=t.getElementsByTagName("script")[0];s.parentNode.insertBefore(n,s);r._q=[];
      function a(e){r[e]=function(){r._q.push([e].concat(Array.prototype.slice.call(arguments,0)));
      }}var i=["init","logEvent","logRevenue","setUserId","setUserProperties","setOptOut","setVersionName","setDomain","setDeviceId","setGlobalUserProperties"];
      for(var o=0;o<i.length;o++){a(i[o])}e.amplitude=r})(window,document);

      amplitude.init("9e56d8596251ca5468e28aa39960418c");

  body
    .wrapper
      .page
        nav.navbar.navbar-default.header(role='navigation')
          //- .container-fluid
          // Brand and toggle get grouped for better mobile display
          .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bbttxu-navbar-collapse')
              span.sr-only Toggle navigation
              | &#9776
            .title
              a.h3(href='')
                | &nbsp;Denton&comma;&nbsp;TX
          // Collect the nav links, forms, and other content for toggling
          #bbttxu-navbar-collapse.collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
              li
                a#todaysLink(href="") Today

              li
                a(href="#/") Calendar

              li
                a(href="#/venues") Venues


        block content

        footer#footer.footer
          .contact
            h6.h3 Connect &amp; Contribute
            ul.contacts.list-unstyled
              li
                | twitter&colon;
                a(href='http://twitter.com/bbttxu') &commat;bbttxu
              li
                | github&colon;
                a(href='http://github.com/bbttxu/denton-frontend') bbttxu&sol;denton-frontend
              li
                | docco&colon;
                a(href='docs/main.html') docs&sol;
          .about
            h6.h3 About this site
            p
              | This
              a(href='https://github.com/bbttxu/denton') open-source music showlist
              | aggregates shows for Denton&comma; TX using publicly accessible&nbsp;data.
            p.version


  if reload
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/reload-client.js')

  if optimize
    script(src='javascripts/main-built.js' + cachebust)
  else
    script(src="javascripts/vendor/requirejs/require.js" + cachebust data-main='javascripts/main.js' + cachebust)
