doctype html
//if lt IE 7
  html.no-js.lt-ie10.lt-ie9.lt-ie8.lt-ie7(lang='en-us')
//if IE 7
  html.no-js.lt-ie10.lt-ie9.lt-ie8(lang='en-us')
//if IE 8
  html.no-js.lt-ie10.lt-ie9(lang='en-us')
//if IE 9
  html.no-js.lt-ie10.lt-ie9(lang='en-us')
//if lt IE 10
  html.no-js.lt-ie10(lang='en-us')
//if !IE
  | &gt;
html.no-js(lang='en')
  // <![endif]
  head
    title Denton&comma; TX Show list &VerticalLine; BBTTXU
    meta(charset='utf-8', content='text/html', http-equiv='content-type')
    meta(content='ie=edge,chrome=1', http-equiv='x-ua-compatible')
    meta(content='Upcoming music and events for Denton, TX aggregated from publicly available sources ', name='description')
    meta(content='Adam Krawiec', name='author')
    meta(content='initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width', name='viewport')
    meta(content='initial-scale=1.0,user-scalable=no,maximum-scale=1', media='(device-height: 568px)', name='viewport')
    meta(content='yes', name='apple-mobile-web-app-capable')
    meta(content='translucent-black', name='apple-mobile-web-app-status-bar-style')
    link(href='http://fonts.googleapis.com/css?family=Anton|Cherry+Cream+Soda', rel='stylesheet', type='text/css')
    link(href='/images/favicon.ico', rel='shortcut icon')
    link(href='/images/apple-touch-icon-precomposed.png', rel='apple-touch-icon-precomposed')
    link(href='/images/apple-touch-icon-57x57-precomposed.png', rel='apple-touch-icon-precomposed', sizes='57x57')
    link(href='/images/apple-touch-icon-72x72-precomposed.png', rel='apple-touch-icon-precomposed', sizes='72x72')
    link(href='/images/apple-touch-icon-114x114-precomposed.png', rel='apple-touch-icon-precomposed', sizes='114x114')

    link(href='stylesheets/denton.css' + cachebust, media='screen', rel='stylesheet', type='text/css')
    if build
      script.
        (function(_,e,rr,s){_errs=[s];var c=_.onerror;_.onerror=function(){var a=arguments;_errs.push(a);
        c&&c.apply(this,a)};var b=function(){var c=e.createElement(rr),b=e.getElementsByTagName(rr)[0];
        c.src="//beacon.errorception.com/"+s+".js";c.async=!0;b.parentNode.insertBefore(c,b)};
        _.addEventListener?_.addEventListener("load",b,!1):_.attachEvent("onload",b)})
        (window,document,"script","550d80a0557dba165700000c");

      script.
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-46188129-1']);
        _gaq.push(['_trackPageview']);
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

        window.onerror = function(message, file, line) {
          _gaq.push(['_trackEvent', 'JS Error', file + ':' + line + '\n\n' + message]);
        };

  body
    .wrapper
      .page
        nav.navbar.navbar-default.header(role='navigation')
          //- .container-fluid
          // Brand and toggle get grouped for better mobile display
          .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-navbar-collapse')
              span.sr-only Toggle navigation
              | &#9776
            .title
              a.h3(href='')
                | &nbsp;Denton&comma;&nbsp;TX
          // Collect the nav links, forms, and other content for toggling
          #bs-navbar-collapse.collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
              li
                a(href="") Today

              li
                a(href="#/") Calendar

              li
                a(href="#/venues") Venues


        block content

        footer#footer.footer
          .contact
            h6.h3 Connect &amp; Contribute
            ul.contacts.list-unstyled
              li
                | twitter&colon;
                a(href='http://twitter.com/bbttxu') &commat;bbttxu
              li
                | github&colon;
                a(href='http://github.com/bbttxu/denton') bbttxu&sol;denton
              li
                | docco&colon;
                a(href='docs/main.html') docs&sol;
          .about
            h6.h3 About this site
            p
              | This
              a(href='https://github.com/bbttxu/denton') open-source music showlist
              | aggregates shows for Denton&comma; TX using publicly accessible&nbsp;data.



  if reload
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/reload-client.js')

  //- if optimize
  //- script(src='javascripts/main-built.js' + cachebust)
  //- else
  script(src="javascripts/vendor/requirejs/require.js" + cachebust data-main='javascripts/main.js' + cachebust)
